<div class="container">
  <div class="row">
    <h3>Products</h3>
    <div class="col text-right">
      <div ngbDropdown placement="top-right" class="d-inline-block">
        <div ngbDropdown class="d-inline-block">
          <button
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            Items in cart: {{ howManyItems() }}
          </button>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            id="dropdownWindow"
          >
            <ul class="container-fluid">
              <li class="row" *ngFor="let item of items; let i = index">
                <div class="name col-5">{{ item.name }}</div>
                <input
                  type="number"
                  class="col-3"
                  [(ngModel)]="item.quantity"
                  minlength="1"
                />
                <div class="col">{{ item.price * item.quantity }} RON</div>
                <button
                  class="btn btn-light"
                  (click)="this.cartService.removeItem(i)"
                >
                  X
                </button>
              </li>
              <a class="btn btn-primary" routerLink="/cart">To Cart</a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="products">
      <div class="card" *ngFor="let product of products">
        <div class="card-body">
          <div class="picture-frame">
            <img [src]="product.picture" alt="" />
          </div>
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">
            {{ product.description }}
          </p>
          <p>Price : {{ product.price }} RON</p>
        </div>
        <div class="card-footer">
          <a (click)="addToCart(product)" class="btn btn-primary"
            >Add to Cart</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
