<div class="about-wrap">
  <h2>About</h2>
  <hr />
  <h3>About us</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quas
    reiciendis blanditiis cum architecto suscipit deserunt minus numquam earum
    sapiente!
  </p>
  <h3>How We work</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quas
    reiciendis blanditiis cum architecto suscipit deserunt minus numquam earum
    sapiente!
  </p>
  <h3>Privacy Policy</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quas
    reiciendis blanditiis cum architecto suscipit deserunt minus numquam earum
    sapiente!
  </p>
</div>
