<div class="about-wrap">
  <h2>About</h2>
  <hr />
  <h3>About us</h3>
  <br />
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis aperiam,
    natus corrupti non quas, incidunt suscipit, ipsum ex soluta eos amet illo
    maiores tempora alias quos quia debitis sapiente tempore illum! Eligendi a
    perspiciatis ut repellendus id voluptatibus, assumenda vel accusantium
    provident culpa rerum non consequuntur perferendis? Incidunt, vitae
    voluptate.
  </p>
  <br />
  <h3>How We work</h3>
  <br />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto delectus
    illum porro earum, dolorum quisquam ab dicta voluptas et voluptatibus
    ducimus libero, sapiente suscipit maiores animi ad sit eos eum repellat
    rerum omnis incidunt? Id nostrum deserunt quia pariatur, nesciunt cumque
    ipsa corrupti voluptates tempore, nobis officiis dolores minima in.
  </p>
  <h3>Privacy Policy</h3>
  <br />
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit dolorum,
    architecto libero labore voluptas maiores voluptates eum debitis repellendus
    perferendis eos, commodi quidem facere quas consequuntur perspiciatis sequi?
    Fugiat temporibus accusantium sapiente! Qui suscipit nostrum, nemo molestias
    dicta labore aut ratione nobis, eligendi veritatis sit pariatur iure quasi
    asperiores odit!
  </p>
</div>
