<div class="container">
  <div class="row">
    <h2>Home</h2>
  </div>
  <hr />
  <div class="row row-car">
    <ngb-carousel id="carousel" *ngIf="images">
      <ng-template ngbSlide class="car-slide">
        <div class="picsum-img-wrapper">
          <img [src]="images[0]" alt="Random first slide" />
        </div>
        <div class="carousel-caption">
          <h3>Extra wings for someone extra important</h3>
          <p>For each 8 Hot Wings Menu you get extra 4 on the house</p>
        </div>
      </ng-template>
      <ng-template ngbSlide class="car-slide">
        <div class="picsum-img-wrapper">
          <img [src]="images[1]" alt="Random second slide" />
        </div>
        <div class="carousel-caption">
          <h3>Our fries save lives</h3>
          <p>Try out the new fries with garlic and parmigiano</p>
        </div>
      </ng-template>
      <ng-template ngbSlide class="car-slide">
        <div class="picsum-img-wrapper">
          <img [src]="images[2]" alt="Random third slide" />
        </div>
        <div class="carousel-caption">
          <h3>20% OFF for all pizza selections</h3>
          <p>Just today, pick your favorite pizza for a special price</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
